header {
  background-color: midnightblue;
  color: lightgrey;
  text-align: center;
}

body {
  background-image: url("record.png");
  /* the background will auto repeat and clip
  at the edges, but I did play with some other
  background-repeat features:  */
  /* background-repeat: space; */
  /* background-repeat: repeat-x; */
  margin: 0;
}

main {
  background-color: lightgrey;
  padding: 1em;
}
